/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    --basiskleur: #1e3932;
    --kleurGroen: #036242; 
    --navHover: #006241;
    --navLichtGroen: #dff1ec;
    --HalloweenKleurPaars: #4d1253;
    --basisfont: 'Open Sans', sans-serif;
    --kopfont: 'Reem Kufi Fun', sans-serif;
    --geenAchtergrond: transparent;
    --kleurWit: white;
    --kleurZwart: black;
    --grootte1em: 1em;
    --grootte0_5em: 0.5em;
}

/*Eva heeft me hiermee geholpen*/
:root.halloween body{  /*je kan ook bijv header, p enz bewerken zo*/
    background-color: turquoise;
}

body{
    margin: 0;
    font-family: var(--basisfont);
    color: var(--basiskleur);
}


/*************/
/* Navigatie */
/*************/
header img{
    width: 55px;
    margin-top: var(--grootte0_5em);
    margin-left: var(--grootte0_5em);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--kleurZwart);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    font-family: var(--kopfont);
    font-weight: bold;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;

}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: var(--kleurZwart);
    padding: 1rem;
    display: block;
}

.navbar-links li a:hover{
    color: var(--navHover);
}

.toggle-button{
    position: absolute;
    top: 1.5em;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 15px;
}

.toggle-button .bar{
    width: 20px;
    height: 2px;
    background-color: grey;
    border-radius: 2em;
}

@media (max-width: 400px){
    .toggle-button{
        display: flex;
    }

    .navbar-links{
        display: none;
        width: 100%;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul{
        width: 100%;
        flex-direction: column; /*zo komen ze onder elkaar*/
    }

    .navbar-links li{
        text-align: center;
    }

    .navbar-links li a{
        padding: .5rem 1rem;
        background-color: var(--navLichtGroen);
        color: var(--basiskleur);
    }

    .navbar-links.active{
        display: flex;
    }
}

/***********/
/* Content */
/***********/
button:hover { 
    background-color: rgba(255, 255, 255, 0.4);
	cursor: pointer;
}

button:focus{
	outline: none;
	box-shadow: 0 0 0 3px lightsalmon;
}

/*Blokje 1*/
main img{
    width: 100%;
}

article:first-of-type{
    background-color: #d4e9e2;
    margin-top: 2em;
    margin-bottom: 2em;
    color: var(--basiskleur);
}

article h2{
    text-align: center;
    font-family: var(--kopfont);
    margin-bottom: 0;
}

article button{
    font-weight: bold;
    border-radius: 2em;
    background-color: var(--geenAchtergrond);
    border: 1px solid;
    width: 8em;
    height: 2.5em;
    color: inherit;
}

article p{
    font-weight: lighter;
    text-align: center;
}

footer article:first-of-type{
    background: none;
}

footer article:nth-of-type(2){
    background: none;
    color: grey;
}

/*Rest van de blokjes*/
article{
    background-color: #036242;
    margin-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 2em;
    color: var(--kleurWit);
}

article section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1em;
}


/**********/
/* Footer */
/**********/

hr{
    border: none;
    height: 1px;
    background: #dddddd;
    width: 97%;
}

footer img{
    width: 75%;
    margin-left: var(--grootte1em);
}

article:nth-of-type(7){
    background-color: var(--kleurWit);
    color: var(--kleurZwart);
}

article:nth-of-type(8){
    background-color: var(--kleurWit);
    color: gray;
    margin-left: 0.2em;
}

article:nth-of-type(7){
    background: none;
}


/***************/
/* Menu-Pagina */
/***************/

/*starbucks logo in de nav*/
#menuPagina header img{
    width: 55px;
    margin-top: var(--grootte0_5em);
    margin-left: var(--grootte0_5em);
}

/*Pompoen illustratie naast het logo*/
#menuPagina img:nth-of-type(2){
    width: 2em;
    margin-top: 0.8em;
}


h2{
    font-family: var(--kopfont);
}

h3{
    font-family: var(--kopfont);
    margin-left: 1.3em;
}

#menuPagina h3:nth-of-type(2){
    margin-top: 3em;
}

#menuPagina img{
    width: 22%;
}

#menuPagina article{
    background: var(--geenAchtergrond);
    color: var(--kleurZwart);
    margin-left: var(--grootte1em);
    display: flex;
}

#menuPagina article p{
    margin-top: 1.8em;
    font-weight: bold;
    margin-left: var(--grootte1em);
}

#menuPagina h2{
    margin-left: var(--grootte1em);
}


/*****************/
/* Media queries */
/*****************/
@media (min-width: 800px){
    article{
        display: flex;
        padding-bottom: 0em;
        margin-top: 0.2em;
    }

    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    main img{
        width: 50%;
    }

    #menuPagina article:nth-of-type(2) img{
        margin-top: 2.3em;
    }

    #menuPagina article:nth-of-type(3) img{
        margin-top: 2.3em;
    }

    #menuPagina article:nth-of-type(2) p{
        margin-top: 4.5em;
    }

    #menuPagina article:nth-of-type(3) p{
        margin-top: 4.5em;
    }
    
    footer img{
        width: 20%;
        height: 15%;
        padding-top: var(--grootte1em);
    }

    footer article p{
        padding-left: var(--grootte1em);
        margin: 0;
    }

    #menuPagina img{
        width: 125px;
    }

    #menuPagina article p{
        margin-top: 3em;
    }

    h2{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    h3{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #menuPagina main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
    }

    #menuPagina Hr{
        grid-column-start: 1;
        grid-column-end: -1;
    }

    article section{
        width: 50%;
    }

    #menuPagina{
        display: grid;
    }
}

@media (min-width: 500px){
    h2{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    h3{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #menuPagina main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
    }

    #menuPagina Hr{
        grid-column-start: 1;
        grid-column-end: -1;
    }

    #menuPagina{
        display: grid;
    }
}

@media (max-width: 799px){
    #menuPagina article{
        margin-bottom: -3.5em;
    }
}

@media (min-width: 799px){
    #menuPagina main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
    }
}

